name: Build Docs

on:
  push:
    branches: [master]
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          gh workflow run generate-api-docs-community-contracts.yml \
            --repo OpenZeppelin/docs \
            --field tag_name="${{ github.sha }}" \
            --field trigger_type="commit"
        env:
          GH_TOKEN: ${{ secrets.DOCS_REPO_TOKEN }}
